.example-full-width {
    width: 100%;
  }
  
  .example-half-width {
    width: 45%;
  }
  
  .float-right{float: right;}
  
  .example-form{
      padding-left:20px;
      width: 500px;
  }
  
  .matCard{
      margin-top: 15px;
      width: 800px;
  }

  table {
    width: 100%;
  }

  .mat-cell, .mat-header-cell{
    border-right: 1px solid #cccccc;
    padding-left: 10px;
  }